

        <!--Getting started-->
        <div  fxLayout="column" fxLayoutAlign="space-evenly center" class="wrapper" style="padding: 50px; padding-inline: 20px; font-size: 12pt; background-color: #001f3f; padding: 50px; color: whitesmoke; ">
        <h3 style="font-size: 25pt; font-weight: bold;" >Getting started at AlgoExpert?</h3>
        <br/>
        <p>First start by loging into your account to save your progress.
        </p>
        <br/>
        <button mat-raised-button color="">LOGIN</button>
        <br/>
        </div>

        <!--Questions page-->
        <app-questions-page></app-questions-page>

        <!--Buttons and WorkSpace-->
        <div class="wrapper"  style="background-color: #03213d; ">
        <h2 style="  font-weight:bold; font-size: 40pt; color: whitesmoke; text-align: center;">Algo-WorkSpace</h2>
        <p style="padding-inline: 20px; line-height: 2.5; font-size: 12pt; text-align: center; color: whitesmoke;">
          Pick a language. Read the prompt. Write your solution.  <br/>
          Get some hints.Run your code again. Check the output. <br/>
          Pass the tests. View our solution. Watch our video. <br/>
          All within the same workspace.
        </p>
        <app-workspace-page></app-workspace-page>
        </div>
        <!-- <app-workspace-page></app-workspace-page> -->
