<!-- <div *ngIf="!home">
  <p>You are logged In</p>
  <button (click)="logout()">logout</button>
</div> -->
<div style="height: 100%;">

                  <!--wrapper1-Heading   *ngIf="home" -->
                  <div class= "wrapper" color ="accent" style=" background-color: #f8f8f8;  font-size: 18pt; padding: 50px;  text-align: center;">
                    <div fxFill fxLayout="row" fxLayoutAlign="center stretch" >


                        <mat-card class="example-card" style="width: auto; color: #001f3f; background-color: #f8f8f8; border: none; font-size: 18pt; padding: 50px;  text-align: center;" >
                          <h2 style="  font-weight:bolder; font-size: 50pt; color: #2381fc;">d-code</h2>
                          <p style="padding-inline: 20px; line-height: 1.5;">
                            The ultimate resource to share your knowledge on algorithms.
                            <br/> Everything you need, in one streamlined platform.
                            </p>
                        </mat-card >
                      
<!-- 
                        <div class="btn-image" style="margin-left: 40px;" >
                        </div> -->

                    </div>
                  </div>

            <ng-template #showLogin> 
             <div>
                  <!--Getting started-->
                  <div  fxLayout="column" fxLayoutAlign="space-evenly center" class="wrapper" style="padding: 50px; padding-inline: 20px; font-size: 12pt; background-color: #001f3f; color: whitesmoke; ">
          
                  <br/>
                  <div >


                    <!-- <mat-card class="example-card" style="color: #f8f8f8; width: auto;  background-color: #f8f8f802; border: none; font-size: 18pt; padding: 50px;  text-align: center;" >
                      <h2 style="  font-weight:bolder; font-size: 50pt; color: #2381fc;">d-code</h2>
                      <p style="padding-inline: 20px; line-height: 1.5;">
                        The ultimate resource to share your knowledge on algorithms.
                        <br/> Everything you need, in one streamlined platform.
                        </p>
                    </mat-card > -->
                 
                    <!-- <div class="btn-image" style="margin-left: 40px;" >
                    </div> -->

                    <br/>
                    <!-- <ng-template #showLogin> -->
                      <h2 style="font-size: 20pt; font-weight: bold;" >Getting started at d-code?</h2>
                       <br/>
                      <p>First start by loging into your account to save your progress.
                      </p>
                      <button mat-raised-button (click)="login()" style="color: #001f3f; font-weight: bold;">LOGIN</button>
                     <!-- </ng-template> -->


                     <!-- <div style="text-align: center;" *ngIf="authservice.userData as user; else showLogin">
                        <P style="color: #f8f8f8; font-weight: bold; font-size: 20pt;">{{ user.displayName }} !</P>  
                        <p> You are officially a D-CODER. 
                        <br/> Continue with D-CODE by choosing the question of your choice.
                         <br/> Enjoy!! 
                        </p>
                         <br/>
                         <button mat-raised-button  class="nav-link" 
                           (click)="logout()" 
                         style="color: #001f3f; font-weight: bold;" >
                         <mat-icon>logout</mat-icon>LOG OUT
                       </button>
                     </div> -->
                    <br/>

                  <!-- </mat-card > -->

                </div>
   
                 
                  
                  <br/>
                  </div>

                  <!--Questions page-->
                  <div class="wrapper" style="background-color: #f8f8f8;  " fxLayout="column" fxLayoutAlign="space-evenly center">

                    <h2 style="  font-weight:bolder; font-size: 40pt; color: #001f3f; text-align: center;">D-CODE Questions</h2>
                    <p style="padding-inline: 20px; line-height: 2.5; font-size: 12pt; text-align: center; color: #001f3f;">
                      With questions spanning, different categories and 4 difficulty levels, we've got you covered. 
                      <br/>
                      Now choose the question you want to challenge yourself with.
                    </p>

                    <br/>
                    <!-- <button mat-raised-button color ="accent" style="background-color: #001f3f; font-weight: bold;" 
                    routerLink="/questions-page" routerLinkActive="active" 
                    *ngIf="authservice.userData as user">View D-CODE Questions</button>
                    <ng-template #showLogin>
                      <button mat-raised-button (click)="openDialog()" style="background-color: #001f3f; font-weight: bold;">View D-CODE Questions</button>
                    </ng-template> -->
                    <br/>
                  </div >

                  <!--Buttons and WorkSpace-->
                  <div class="wrapper"  style="background-color: #001f3f; " fxLayout="column" fxLayoutAlign="space-evenly center">
                      <h2 style="  font-weight:bold; font-size: 40pt; color: whitesmoke; text-align: center;">d-code WorkSpace</h2>
                      <p style="padding-inline: 20px; line-height: 2.5; font-size: 12pt; text-align: center; color: whitesmoke;">
                        Pick a language. Read the prompt. Write your solution.  <br/>
                        Get some hints. Run your code again. Check the output. <br/>
                        Pass the tests. View our solution. Watch our video. <br/>
                        All within the same workspace.
                      </p>

                      <br/>
                      <!-- <button mat-raised-button style="color: #001f3f; font-weight: bold;"
                      routerLink="/workspace-page" routerLinkActive="active" 
                      *ngIf="authservice.userData as user">View D-CODE Workspace</button>
                      <ng-template #showLogin>
                        <button mat-raised-button (click)="openDialog()" style="color: #001f3f; font-weight: bold;">View D-CODE Workspace</button>
                        </ng-template> -->
                      <br/>
                  </div>

              </div>
            </ng-template>

              <app-auth-homepage *ngIf="authservice.userData as user; else showLogin"></app-auth-homepage>
 
</div>                
                  <!-- <router-outlet></router-outlet> -->

          <!-- <mat-tab-group mat-align-tabs="center" style="background-color: #eeeded">

          <mat-tab label="Home" >
          </mat-tab>
          <mat-tab label="Questions">
              <app-questions-page></app-questions-page>
          </mat-tab>
          <mat-tab label="WorkSpace" >
              <app-workspace-page></app-workspace-page>
          </mat-tab>
     
     </mat-tab-group> -->