 <!-- Prompt Space-->
 <div  fxLayout="column" fxLayoutAlign="start stretch" class="workspace-card" >
    <!-- style=" min-width: 45%; min-height: 50%;" -->
            
        <div>
        <mat-button-toggle-group appearance="legacy" fxLayout="row" fxLayoutAlign="start start" #group="matButtonToggleGroup" [value]="selectedVal1" (change)="onVal1Change(group.value)" >
            <mat-button-toggle value="Prompt" (click)="promptFunction()">Prompt</mat-button-toggle>
            <!-- <mat-button-toggle value="Scratchpad" (click)="openDialog()" (click)="scratchpadFunction()">Scratchpad</mat-button-toggle>
            <mat-button-toggle value="Our Solution(s)" (click)="solutionFunction()">Our Solution(s)</mat-button-toggle>
            <mat-button-toggle value="Video Explanation" (click)="videoFunction()">Video Explanation</mat-button-toggle>
            
            <span class="example-spacer"> </span>
            <button mat-button style="background-color: #0e639c; border-radius: 0pt 0pt;" *ngIf="solution" >Run Code</button> -->
        </mat-button-toggle-group>
        </div>
        <div style="background-color: #030e1a;" class="answer-card"> 
            <!-- <mat-form-field  appearance="fill" class="example-full-width">  -->
            
                <!-- <mat-label>Autosize textarea</mat-label>  style="height: 340px;"-->
                <!-- <textarea matInput >                 
                                // Display Question Here.  
                    </textarea> -->
                    <!-- <div matInput placeholder="No Question Selected"  appearance="fill " > </div> -->

                    <div *ngIf="question noQuestions" > 
                        <div  class="collection">
                                <div   class="collection-question">
                                    <br/>
                                    <div fxLayout="row" fxLayoutAlign="space-evenly" style="color: bisque;" >
                                        <p >
                                            Difficulty:  {{  question.difficulty}}
                                          </p>   
                                          <span class="example-spacer"> </span>
                                          <p >
                                            Category:  {{  question.category}} 
                                          </p>
                                    </div>
                                  
                                    
                                    <br/>
                                    <h2>
                                     <strong>{{question.name}}</strong>
                                    </h2>
                                    
                                    <br/>
                                    <p style="color: #e4ded6;">
                                        {{question.description}}
                                    </p>
                                    
                                    <br/>
                                    <!-- <p style="color: #854e0b;">
                                      Using the function: {{question.functionName}}
                                    </p> -->
                                
                                    <div fxLayout="row" fxLayoutAlign="start start" style="color: wheat;">
                                        <p style = "margin-right: 4pt; color: whitesmoke;"> Using the function: </p>
                                
                                        <p style = "color: brown; margin-right: 4pt;">{{  question.functionName}}  </p>
                                        (<div > 
                                        
                                            <div >
                                                <p   style = "color: #ffa1a1;"> 
                                                    {{question.variables}}
                                                </p>
                                            </div>   
                                        </div>)
                                    
                                    </div>
                          
                                    <br/>
                                    <!-- <div >
                                        Expected Output: {{  question.output}}
                                    </div> -->
                                  
                                </div>
                            </div>
                        </div>
              <!-- </mat-form-field> -->

            
            
              <ng-template #noQuestions style="color: darkgrey;">
                <hr>
                <h5>There are no questions to list</h5>
            </ng-template> 
            
              <!-- {{question.Description}} -->
                        <!-- {{question.functionName}} -->
                        <!-- {{question.Tests?.Inputs}} -->

                        <!-- *ngIf="$any(questions)?.length > 0;else noQuestions" > 
                             <div *ngFor = "let question of questions "  -->

        </div>
 </div>        
