 <!-- Prompt Space-->
 <div  fxLayout="column" fxLayoutAlign="start stretch" class="workspace-card" [ngClass]="{'dark1': dark, 'light1': !dark}">
    <!-- style=" min-width: 45%; min-height: 50%;" style="background-color: #030e1a;" -->
            
        <div>
        <mat-button-toggle-group appearance="legacy" fxLayout="row" fxLayoutAlign="start start" #group="matButtonToggleGroup" [value]="selectedVal1" (change)="onVal1Change(group.value)" >
            <mat-button-toggle value="Prompt" (click)="promptFunction()">Prompt</mat-button-toggle>
            <!-- <mat-button-toggle value="Scratchpad" (click)="openDialog()" (click)="scratchpadFunction()">Scratchpad</mat-button-toggle>
            <mat-button-toggle value="Our Solution(s)" (click)="solutionFunction()">Our Solution(s)</mat-button-toggle>
            <mat-button-toggle value="Video Explanation" (click)="videoFunction()">Video Explanation</mat-button-toggle>
            
            <span class="example-spacer"> </span>
            <button mat-button style="background-color: #0e639c; border-radius: 0pt 0pt;" *ngIf="solution" >Run Code</button> -->
        </mat-button-toggle-group>
        </div>
        <div  class="answer-card "> 
    

                    <div *ngIf="question noQuestions" style="margin-left: 12px; margin-right: 12px; "> 
                        <div  class="collection">
                                <div   class="collection-question">
                                    <br/>
                                    <div fxLayout="row" fxLayoutAlign="space-evenly"  >
                                        <p >
                                            Difficulty:  {{  question.difficulty}}
                                          </p>   
                                          <span class="example-spacer"> </span>
                                          <p >
                                            Category:  {{  question.category}} 
                                          </p>
                                    </div>
                                  
                                    
                                    <br/>
                                    <h2>
                                     <strong>{{question.name}}</strong>
                                    </h2>
                                    
                                    <br/>
                                    <p>
                                        {{question.description}}
                                    </p>
                                    
                                    <br/>
                             
                                
                                    <!-- <div fxLayout="row" fxLayoutAlign="start start" >
                                        <p style = "margin-right: 4pt;"> Using the function: </p>
                                
                                        <p style = " margin-right: 4pt; color: #2381fc;">{{  question.functionName}}</p>
                                        ( <div > 
                                        
                                            <div >
                                                <p   style = "color: #8a0909;"> 
                                                     {{question.variables}} 
                                                </p>
                                            </div>   
                                        </div> )
                                    
                                    </div> -->
                          
                                    <br/>
                                
                                  
                                </div>
                            </div>
                        </div>
           

            
            
              <ng-template #noQuestions style="color: darkgrey;">
                <hr>
                <h5>There are no questions to list</h5>
            </ng-template> 
            
      

        </div>
 </div>        
