.example-spacer {
    flex: 1 1 auto;
  }
  .example-icon{
      margin-left: 10px
  }

  .btn-image{
    background-image: url('../dhis2logoimg.827e79aacba6.png') !important;
    background-size: 230px;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 64px; max-width: 205px;
    flex: 1 1 auto;
    border: 0px;
   } 

   @media screen {
    .btn-image{ 
    background-size: 130px;
    background-position: center;
    /* background-repeat: no-repeat; */
    min-height: 30px; min-width: 105px;
    flex: 1 1 auto;
    border: 0px; 
    }
   }