.example-spacer {
    flex: 1 1 auto;
  }
  .example-icon{
      margin-left: 10px
  }

  .btn-image{ 
    background-image: url('/assets/images/logo.png') !important;
      /* background-color: #808c99e8; */
       /* max-width: 130px; */
       max-width: 30px;
        min-height: 40px;
     background-size: 40px;
     background-position: left;
     background-repeat: no-repeat;
     flex: 1 1 auto;
     border: 0px;
   } 

   @media screen {
    .btn-image{ 
    background-size: 130px;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30px; min-width: 105px;
    flex: 1 1 auto;
    border: 0px; 
    }
   }


   
  .example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }