<!-- css
  background-color: #ccfcfc86;

  background-color: teal; color: whitesmoke;

   color: #2381fc;
 -->
<div  style="background-color: #030e1a; color: whitesmoke;">

    <div fxLayout="column" fxLayoutAlign="space-around end"  >
      <!-- <div  style="background-color:transparent; width: 150px; height: 50px; color: black; font-weight: bold; align-items: center;"> 
        
       </div> *ngIf="login" -->
      
      <button  mat-dialog-close style=" border:none; background-color:transparent; align-items: flex-end;">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    
    
          <!--LOG IN *ngIf="isSignedIn"-->
          <!-- <ng-template #showLogin>  -->
    
          <div   fxLayout="column" fxLayoutAlign="start center" style="align-items: center; padding: 5px 5px 5px 5px; width: auto; height: auto; " >
    
            <!-- <p mat-dialog-title>D-CODE</p> -->

            <button mat-button  routerLink="/homepage"

                  routerLinkActive="active" >
          
                  <div  
                  style="background-image: url('/assets/images/logo.png') !important;
                    /* background-color: #808c99e8;  */
                  min-width: 155px;
                  background-size: 40px;
                  background-position: left;
                  background-repeat: no-repeat;
                  "  >
                <div style="font-size: 20px; font-weight: bold; color: #2381fc;"> D-CODE</div>
            
                  
                  </div>
      
           </button>
              
            <div mat-dialog-content>Connect to save your progress</div>
            <br/>
  
  
            <div  fxLayout="column" fxLayoutAlign="space-around center"  >
  
                <!-- <button mat-raised-button style="background-color: teal; color: whitesmoke;"
                 (click)="authservice.GoogleAuth()" >
                  <mat-icon class="fab fa-google-plus-g">Google_plus</mat-icon>
                  Connect with Google
                </button>  -->

                <button mat-raised-button [mat-dialog-close] style="color: #030e1a; background-color: whitesmoke;"
                *ngIf="(authservice.afAuth.authState | async) === null" (click)="authservice.GoogleAuth()">
                 <mat-icon class="fab fa-google-plus-g">Google_plus</mat-icon>
                 Connect with Google
               </button> 
      
                  <!-- <br/>

                  <button mat-raised-button [mat-dialog-close] style="color: #030e1a; background-color: whitesmoke;">
                 <mat-icon class="fab fa-google-plus-g">Google_plus</mat-icon>
                 Connect with Google
               </button> 
            
            <br/> -->
<!-- 
            <button mat-raised-button [mat-dialog-close] style="background-color: #2381fc; color: #030e1a;">
           <mat-icon class="fab fa-google-plus-g">Google_plus</mat-icon>
           Connect with Google
         </button> -->
                  <!-- <button mat-raised-button [mat-dialog-close] style="background-color: teal; color: whitesmoke;"
                *ngIf="(authservice.afAuth.authState | async) === null" (click)="authservice.FacebookAuth()" >
                  <mat-icon >facebook</mat-icon>
                  Connect with Facebook
                </button> -->
    

                <!-- <button (click)="onTap()">Navigate to page2</button> -->
               
                  <!-- <br/>
                  <button  mat-raised-button style="min-width: 350px; background-color: teal;" > 
                    <mat-icon></mat-icon>Log in with GitHub
                  </button> -->
                
                <!-- </div> -->
  
            </div>
  
           
  
       
              
    
          </div>

          <!-- </ng-template> -->

          <!-- <app-auth-homepage *ngIf="authservice.userData as user; else showLogin"></app-auth-homepage> -->
         
            <br/>
          
         
  
  
</div>
  

