h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit whitesmoke;
    text-decoration: none; }

h1 {
  font-size: 3rem;
  line-height: 1.2; }

h2 {
  font-size: 2.25rem;
  line-height: 1.3; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.7rem; }

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2.75rem;
    line-height: 1.3; }

  h2 {
    font-size: 1.75rem;
    line-height: 1.5; }

  h3 {
    font-size: 1.25rem; } }


.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-icon{
      margin-left: 10px;
  }
  
  
  
    /* mat-button-toggle(-group) css*/
  
  
    mat-button-toggle-group {
      /* margin-left: 12px; */
      width: 100%;
      border-radius: 0pt 0pt;
      color:white;
      background-color: #1c3653;
      /* margin: 0px 10px 10px 12px; width: inherit; */
    }
  
    mat-button-toggle {
      margin: 0px;
      border: 0px;
      color:white;
  
    }
  
    mat-button-toggle:hover {
    
      background-color:  #001f3f  !important;
      /*  #b884da */
  }
  
  .mat-button-toggle-checked {

      background-color: #030e1a ; /* #061d33;*/
      color: white;
  }
  
  .mat-button-toggle-input {
      background-color: none !important;
      padding-left: 32px !important;
  }
  

  /* workspace-card top row */
  .workspace-card{
    /* max-width: 700px; */
     min-height: 405px;
     /* background-color: #030e1a;
     color: white; */
 }

 /* mat-form-field {
    margin-right: 6px;
  } */

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
     
  }
  
  .example-full-width {
    width: 100%;
    /* min-height: 369px; */
  }

 .answer-card{
  margin-left: 10px;
  margin-right: 10px;
  /* width: 700px;
  height: 369px; */
  /* color: white;
  background-color: #00000000; */
}

/* .wcard{
    min-width: 460px;
     min-height: 405px;
     background-color: #030e1a;
     margin-right: 8px;
 }

 .acard{
  margin-left: 10px;
  margin-right: 10px;
  width: 440px;
  height: 369px;
  color: white;
  background-color: #00000000;
} */



 /* fullscreen-card css */

 /* #myDiv1.fullscreen{
    z-index: 9999; 
    width: 90%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
  }
  #myDiv1{background:transparent; width:500px; height:200px;}
  
  */
  .workspace-card.fullscreen{
    
    /* background-color: #030e1a; */
    /* color: white; */
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
  }
  
  .answer-card.fullscreen{
  margin-left: 10px;
  margin-right: 10px;
  width: 920px;
  height: 100%;
  /* color: white; */
  /* background-color: #00000000; */
  } 
  

  button:hover{
    /* border: 1px #00000000 solid !important; */
    background-color: #001f3f !important;   
    color: #f5f5f5 !important;  
  } 
  


