<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div style=" background-color: #03213d; min-width: 100%;" > <!--   022949 style=" margin-left: 10px; margin-right: 10px; height: 700px; background-color: #03213d;" -->



    <div >
    
        <!--Buttons-Header max & min  fxLayoutGap-->

        <div style=" margin-left: 10px; margin-right: 10px; ">
                        <!--on large screen-->
                    <div  fxLayout="row" fxLayoutAlign="start stretch" style=" max-width: 200px;" >
                
                            <button  mat-raised-button routerLink="/homepage-component" routerLinkActive="active" style="background-color:#37045a; min-width: 115px;"  >
                        
                            <div  style="background-image: url('/assets/images/logo.png') !important;
                                /* background-color: #808c99e8;  */
                                min-width: 115px;
                                background-size: 30px;
                                background-position: left;
                                background-repeat: no-repeat;
                                /* flex: 1 1 auto;
                                border: 0px; */
                                /* margin-right: 10px; */
                                "  >
                                <!-- <div class="btn-image"> </div> -->
                            <div style="font-size: 14px; font-weight: bold; color: #2381fc;"> D-CODE</div>          
                                
                            </div>
                        
                            </button>
                            
                            <button mat-raised-button class="example-icon " matTooltip="Questions List" 
                            routerLink="/questions-page-component" routerLinkActive="active" >
                                <mat-icon>list</mat-icon>
                            </button>
            
                            <!-- <a href="http://google.com/" class="tip">Link!<span>Hi its me!</span></a> -->
            
                            <!-- <a mat-raised-button href="#"  class="tip">Hover over me </a> matTooltip="WorkSpace Layout"  -->
            
                            <!-- <a mat-raised-button href="#" data-toggle="tooltip" data-placement="bottom" title="Hooray!">Hover over me</a> -->
            
            <!--(click)="button_headerFunction()"-->
                            <button mat-raised-button fxShow="true" fxHide.gt-sm="true"  #small style="margin-right: 20px;" (click)="button_headerFunction()">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
            
                            <div fxShow="true" fxHide.lt-md="true"   ><!-- fxShow="true" fxHide.lt-md="true"  -->
            
                                                <button mat-raised-button class="example-icon" matTooltip="Next Question" > 
                                                    <!--[matTooltipClass]="'tooltip-pd'" -->
                                                    <mat-icon>arrow_forward</mat-icon> <!--trending_flat  style="margin-top: 30px !important; " class="mat-toolpit-panel-above"-->
                                                </button>
            
                                                <button mat-raised-button  matTooltip="Workspace" style="min-width: 130px;" > 
                                                    <!--style="width: 130px;"-->
                                                    <mat-select [(value)]="selectedWLayout" disableOptionCentering  panelClass="myPanelClass" > 
                                                        
                                                    <mat-option [value]="wlayout.value" *ngFor="let wlayout of wlayouts" >
                                                        {{wlayout.viewValue}}
                                                    </mat-option>
                                                    </mat-select> 
                                                </button>
                                            
                                                <button mat-raised-button matTooltip="Programming Languages" style="min-width: 130px;" > 
                                                    <!--style="width: 130px;"-->
                                                    <mat-select name="Programming Languages" disableOptionCentering  panelClass="myPanelClass" 
                                                    [(value)]="selectedLanguage" > 
                                                        
                                                    <mat-option [value]="language.value" 
                                                    *ngFor="let language of languages" >
                                                        {{language.viewValue}}
                                                    </mat-option>
                                                    </mat-select>
                                                </button>
                                        
                                                <button mat-raised-button matTooltip="Editor Font Size" style="min-width: 90px;" >  
            
                                                    <mat-select #fontSize [(value)]="selectedFont" disableOptionCentering  
                                                    panelClass="myPanelClass" (selectionChange)="triggerResize()"> 
                                                        
                                                    <mat-option [value]="font.value"
                                                    *ngFor="let font of fonts"  >
                                                        {{font.viewValue}}
                                                    </mat-option>
                                                    </mat-select>
                                                </button>
                                        
                                                <button mat-raised-button matTooltip="Editor Key Maps" style="min-width: 110px;" >
                                                
                                                    <mat-select [(value)]="selectedEditor" disableOptionCentering  panelClass="myPanelClass" > 
                                                        
                                                    <mat-option [value]="editor.value"
                                                    *ngFor="let editor of editors" >
                                                        {{editor.viewValue}}
                                                    </mat-option>
                                                    </mat-select>
                                                </button>
                                            
                                                <button mat-raised-button matTooltip="light theme"  >
                                                    <mat-icon>sunny</mat-icon> 
                                                </button>
                                            
                                                <button mat-raised-button matTooltip="Syntax Highlighting Theme" style="min-width: 110px;"  >  
                                            
                                                    <mat-select  [(value)]="selectedSyntaxTheme" disableOptionCentering  panelClass="myPanelClass" > 
                                                        
                                                    <mat-option [value]="syntaxtheme.value"
                                                    *ngFor="let syntaxtheme of syntaxthemes">
                                                        {{syntaxtheme.viewValue}}
                                                    </mat-option>
                                                    </mat-select>
                                                </button>
                                            
                                                <button mat-raised-button matTooltip="Whiteboard Mode"  >
                                                    <mat-icon>tv</mat-icon> 
                                                </button>
                                            
                                                <button mat-raised-button matTooltip="Data Structure Visualizer"  >
                                                    <mat-icon>share</mat-icon> 
                                                </button>
            
            
                                </div>  
            
                            <span class="example-spacer"></span>
            
                            <button fxShow="true" fxHide.lt-md="true"  mat-raised-button matTooltip="Timer | Stopwatch" >
                                <mat-icon>alarm</mat-icon> 00:00:00 | 00:00:00   
                            </button>
            
                            <button mat-raised-button matTooltip="Timer | Stopwatch" fxShow="true" fxHide.gt-sm="true">
                                <mat-icon>alarm</mat-icon>
                            </button>
            
                            <button mat-raised-button matTooltip="Bug Report"  >
                                <mat-icon>bug_report</mat-icon> 
                            </button>
                    
                    
                    
                            
                    </div>
            
                    <!--on smaller screens-->
                    <div *ngIf="button_header"  class="button-header" fxShow="true" fxHide.gt-sm="true" #button_header>
                        
                        <button mat-raised-button class="example-icon" matTooltip="Next Question" > 
            
                            <mat-icon>arrow_forward</mat-icon> 
            
                        </button>
                        
                        <button mat-raised-button  matTooltip="Workspace" style="min-width: 130px;" > 
                            <!--style="width: 130px;"-->
                            <mat-select [(value)]="selectedWLayout" disableOptionCentering  panelClass="myPanelClass" > 
                                
                            <mat-option [value]="wlayout.value" *ngFor="let wlayout of wlayouts" >
                                {{wlayout.viewValue}}
                            </mat-option>
                            </mat-select> 
                        </button>
                    
                        <button mat-raised-button matTooltip="Programming Languages" style="min-width: 130px;" > 
                            <!--style="width: 130px;"-->
                            <mat-select name="Programming Languages" disableOptionCentering  panelClass="myPanelClass" 
                            [(value)]="selectedLanguage" > 
                                
                            <mat-option [value]="language.value" 
                            *ngFor="let language of languages" >
                                {{language.viewValue}}
                            </mat-option>
                            </mat-select>
                        </button>
                    
                        <button mat-raised-button matTooltip="Editor Font Size" style="min-width: 90px;" >  
            
                            <mat-select [(value)]="selectedFont" disableOptionCentering  panelClass="myPanelClass"> 
                                
                            <mat-option [value]="font.value"
                            *ngFor="let font of fonts"  >
                                {{font.viewValue}}
                            </mat-option>
                            </mat-select>
                        </button>
                    
                        <button mat-raised-button matTooltip="Editor Key Maps" style="min-width: 110px;" >
                        
                            <mat-select [(value)]="selectedEditor" disableOptionCentering  panelClass="myPanelClass" > 
                                
                            <mat-option [value]="editor.value"
                            *ngFor="let editor of editors" >
                                {{editor.viewValue}}
                            </mat-option>
                            </mat-select>
                        </button>
                        
                        <button mat-raised-button matTooltip="light theme"  >
                            <mat-icon>sunny</mat-icon> 
                        </button>
                        
                        <button mat-raised-button matTooltip="Syntax Highlighting Theme" style="min-width: 110px;"  >  
                    
                            <mat-select  [(value)]="selectedSyntaxTheme" disableOptionCentering  panelClass="myPanelClass" > 
                                
                            <mat-option [value]="syntaxtheme.value"
                            *ngFor="let syntaxtheme of syntaxthemes">
                                {{syntaxtheme.viewValue}}
                            </mat-option>
                            </mat-select>
                        </button>
                        
                        <button mat-raised-button matTooltip="Whiteboard Mode"  >
                            <mat-icon>tv</mat-icon> 
                        </button>
                        
                        <button mat-raised-button matTooltip="Data Structure Visualizer"  >
                            <mat-icon>share</mat-icon> 
                        </button>
                    </div> 
        </div>
    
        <br/>
        


        <!--Cards-->
        <div fxLayoutGap style=" margin-left: 10px; margin-right: 10px; ">

            <!-- <mat-grid-list cols="2" rowHeight="1.9:1">
                <mat-grid-tile>
                    <app-prompt ></app-prompt>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-your-solutions ></app-your-solutions>
                </mat-grid-tile>
            
            </mat-grid-list>
    <br/>
            <mat-grid-list cols="2" rowHeight="3.5:1">
                <mat-grid-tile>
                    <app-tests-samples ></app-tests-samples>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-code-outputs ></app-code-outputs>
    
            </mat-grid-list> -->

            <div fxLayoutGap *ngIf="fullscreen" [style.fontSize]="fontSize.value"> 
                <div fxShow="true" fxHide.lt-md="true"   >
                        <!--Top row-->
                        <div fxLayout="row" fxLayoutAlign="start center" >
                            <!-- Prompt Space -->

                            <div  class="example-full-width">
                                <app-prompt style="width: 50%;" cdkTextareaAutosize
                                #autosize
                                cdkAutosizeMinRows="1"
                                cdkAutosizeMaxRows="5" ></app-prompt>
                            </div> 

                            <span class="example-spacer"></span>

                            <!-- Your Solutions Space -->
                            <div style="min-width: 50%;" class="example-full-width">
                
        
                                  <app-your-solutions ></app-your-solutions>
        
                             
                            </div>

                        </div>

                            <br/> 
                            <!--Bottom row-->
                        <div  fxLayout="row" fxLayoutAlign="start center" > 
                
                            <!-- Tests Space -->
                             <div style="min-width: 50%;" class="example-full-width" >
                                <app-tests-samples ></app-tests-samples>
                            </div> 

                            <span class="example-spacer"></span> 
                
                            <!-- Output Space -->
                            <div style="min-width: 50%;" class="example-full-width" >
                                <app-code-outputs ></app-code-outputs>
                                
                            </div> 
                        </div>
                </div>
                <div fxShow="true" fxHide.gt-sm="true"   >
                                        <!--Top row-->
                        <div fxLayout="column" fxLayoutAlign="start center" >
                            <!-- Prompt Space-->
                            <div class="example-full-width">
                                <app-prompt ></app-prompt>
                            </div> 

                            <br/>
                            <!-- Your Solutions Space -->
                            <div class="example-full-width">
                                <app-your-solutions ></app-your-solutions>
                            </div>

                        </div>

                            <br/> 
                            <!--Bottom row-->
                        <div  fxLayout="column" fxLayoutAlign="start center"> 
                            <!-- Tests Space -->
                           
                            <div class="example-full-width">
                                <app-tests-samples ></app-tests-samples>
                            </div>

                           
                            <br/>
                
                             <!-- Output Space -->
                            <div class="example-full-width" >
                                <app-code-outputs ></app-code-outputs>
                                
                            </div> 
                        </div>
                </div>
    

            

                <br/>
            </div>






        
        </div>
    
         <!--on fullscreens appear your solutions card-->

          <!-- <div fxLayout="row" fxLayoutAlign="start stretch"  *ngIf="fullscreen_exit">
        <div fxLayout="column" fxLayoutAlign="start stretch" class="workspace-card3">
            <mat-button-toggle-group appearance="legacy" fxLayout="row" fxLayoutAlign="start start"
            #group="matButtonToggleGroup" [value]="selectedVal2" (change)="onVal2Change(group.value)">
                <mat-button-toggle  value="Your Solutions">Your Solutions</mat-button-toggle>
                <span class="example-spacer"> </span>
                <button mat-button style="border-radius: 0pt 0pt;" 
                (click)="fullscreenFunction()" *ngIf="fullscreen" >
                    <mat-icon>fullscreen</mat-icon> </button>

                    <button mat-button style="border-radius: 0pt 0pt;" 
                    *ngIf="fullscreen_exit" (click)="fullscreen_exitFunction()" >
                    <mat-icon>fullscreen_exit</mat-icon> 
                    </button>

                <button mat-button style="border-radius: 0pt 0pt;"  > <mat-icon>replay</mat-icon> </button>
                <button mat-button style="border-radius: 0pt 0pt; background-color: #0e639c;"  >Run Code</button>
            </mat-button-toggle-group>
            <div style="background-color: #030e1a; color: #f8f8f8;" class="answer-card3" >
            
                <p> Content content content</p> 
        </div>
        </div>

    </div> -->

    </div> 
    <script>
    $(document).ready(function(){
      $("small").click(function(){
        $("button_header").toggle();
      });
    });

    $('#theButton').click(function() {
    $('#theDiv').css({
        position: 'fixed',
        top: 0,
        right: 0,
        bottom: 0,
        left: 0,
        zIndex: 999
    });
});
    </script>

</div>
<!-- resizable-draggable
[width]="300" 
[height]="150" 
[left]="100" 
[top]="100" -->


          <!-- <div fxFill fxLayout="column" fxLayoutAlign="space-around stretch" style="width: 50%;" >
                <mat-card>

                </mat-card>
                <mat-card >
                    
                </mat-card>
            </div>

            <div fxFill fxLayout="column" fxLayoutAlign="space-around stretch" style="width: 50%;">
                <mat-card>

                </mat-card>
                <mat-card style="background-color: #001f3f; width: 100%;">
                    <p> Content content content</p>
                </mat-card>
            </div> -->