<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div  [ngClass]="{'dark': dark, 'light': !dark}" class="dark"> <!--   022949 style=" margin-left: 10px; margin-right: 10px; height: 700px; background-color: #03213d;" -->



    <div >
    
        <!--Buttons-Header max & min  fxLayoutGap-->

        <div style=" margin-left: 10px; margin-right: 10px; " >
                        <!--on both screen-->
                    <div  fxLayout="row" fxLayoutAlign="start stretch" style=" max-width: 200px;" >
                
                            <button  mat-raised-button routerLink="/homepage" routerLinkActive="active" style="background-color:#030e1a; min-width: 115px;"  >
                        

                                <div  style="background-image: url('/assets/images/logo.png') !important;
                                    /* background-color: #808c99e8;  */
                                    min-width: 115px;
                                    background-size: 30px;
                                    background-position: left;
                                    background-repeat: no-repeat;
                                    /* flex: 1 1 auto;
                                    border: 0px; */
                                    /* margin-right: 10px; */
                                    "  >
                                    <!-- <div class="btn-image"> </div> -->
                                    <div style="font-size: 14px; font-weight: bold; color: #2381fc;"> D-CODE</div>          
                                    
                                </div>
                        
                            </button>
                            
                            <button mat-raised-button class="example-icon" matTooltip="Questions List" [ngClass]="{'button': dark, 'light': !dark}" class="button"
                            routerLink="/questions-page" routerLinkActive="active" >
                                <mat-icon>list</mat-icon>
                            </button>



            
            <!--(click)="button_headerFunction()"-->
                            <button mat-raised-button fxShow="true" fxHide.gt-sm="true"  #small style="margin-right: 20px;"   (click)="button_headerFunction()"
                            [ngClass]="{'button': dark, 'light': !dark}" class="button" > <!--(click)="button_headerFunction()"-->
                                <mat-icon>more_horiz</mat-icon>
                            </button>


                                <!-- On Larger Screens-->
                            <div fxShow="true" fxHide.lt-md="true"  id="header" [ngClass]="{'old': button_header, 'new': ! button_header}" class="old"><!-- fxShow="true" fxHide.lt-md="true"  -->
                                <button mat-raised-button class="example-icon" matTooltip="Next Question" 
                                [ngClass]="{'button': dark, 'light': !dark}" class="button"> 
            
                                    <mat-icon>arrow_forward</mat-icon> 
                    
                                </button>
                                
                                <button mat-raised-button  matTooltip="Workspace" style="min-width: 130px;" [ngClass]="{'button': dark, 'light': !dark}" class="button" > 
                                    
                                    <mat-select [(value)]="selectedWLayout" disableOptionCentering  panelClass="myPanelClass" > 
                                        
                                    <mat-option [value]="wlayout.value" *ngFor="let wlayout of wlayouts" >
                                        {{wlayout.viewValue}}
                                    </mat-option>
                                    </mat-select> 
                                </button>
                            
                                <button mat-raised-button matTooltip="Programming Languages" style="min-width: 130px;"
                                [ngClass]="{'button': dark, 'light': !dark}" class="button" > 
                                   
                                    <mat-select name="Programming Languages" disableOptionCentering  panelClass="myPanelClass" 
                                    [(value)]="selectedLanguage" > 
                                        
                                    <mat-option [value]="language.value" 
                                    *ngFor="let language of languages" >
                                        {{language.viewValue}}
                                    </mat-option>
                                    </mat-select>
                                </button>
                            
                                <button mat-raised-button matTooltip="Editor Font Size" style="min-width: 90px;"
                                [ngClass]="{'button': dark, 'light': !dark}" class="button" >  
                    
                                    <mat-select [(value)]="selectedFont" disableOptionCentering  panelClass="myPanelClass"> 
                                        
                                    <mat-option [value]="font.value"
                                    *ngFor="let font of fonts"  >
                                        {{font.viewValue}}
                                    </mat-option>
                                    </mat-select>
                                </button>
                            
                                <button mat-raised-button matTooltip="Editor Key Maps" style="min-width: 110px;"
                                [ngClass]="{'button': dark, 'light': !dark}" class="button" >
                                
                                    <mat-select [(value)]="selectedEditor" disableOptionCentering  panelClass="myPanelClass" > 
                                        
                                    <mat-option [value]="editor.value"
                                    *ngFor="let editor of editors" >
                                        {{editor.viewValue}}
                                    </mat-option>
                                    </mat-select>
                                </button>
                                
                                <button *ngIf = "dark" mat-raised-button matTooltip="light theme"  (click)="darkFunction()"
                                [ngClass]="{'button': dark, 'light': !dark}" class="button">
                                    <mat-icon>sunny</mat-icon> 
                                </button>

                                <button *ngIf = "light" mat-raised-button matTooltip="dark theme"  (click)="lightFunction()"
                                [ngClass]="{'button': dark, 'light': !dark}" class="button">
                                    
                                <mat-icon>brightness_3</mat-icon>
                                </button>
                                
                                <button mat-raised-button matTooltip="Syntax Highlighting Theme" style="min-width: 110px;" 
                                [ngClass]="{'button': dark, 'light': !dark}" class="button" >  
                            
                                    <mat-select  [(value)]="selectedSyntaxTheme" disableOptionCentering  panelClass="myPanelClass" > 
                                        
                                    <mat-option [value]="syntaxtheme.value"
                                    *ngFor="let syntaxtheme of syntaxthemes">
                                        {{syntaxtheme.viewValue}}
                                    </mat-option>
                                    </mat-select>
                                </button>
                                
                                <button mat-raised-button matTooltip="Whiteboard Mode" 
                                [ngClass]="{'button': dark, 'light': !dark}" class="button" >
                                    <mat-icon>tv</mat-icon> 
                                </button>
                                
                                <button mat-raised-button matTooltip="Data Structure Visualizer" 
                                [ngClass]="{'button': dark, 'light': !dark}" class="button" >
                                    <mat-icon>share</mat-icon> 
                                </button>
                                
                              
                                  
            
            
                            </div>  
            
                            <span class="example-spacer"></span>

                     

                            <!-- <button mat-raised-button  matTooltip="Timer | Stopwatch" style="width: auto;" 
                            [ngClass]="{'button': dark, 'light': !dark}" class="button" (click) = "timerDialog()" 
                            (onVariantChange)="variant = $event" (onProductChange)="product = $event"> Timer : {{variant | json}}
                            Stopwatch : {{variant }}
                                {{Tdisplay}} 
                                <mat-icon>alarm</mat-icon> 
                                {{display }} 
                            </button> -->

                            <button mat-raised-button  matTooltip="Timer | Stopwatch" style="min-width: 110px;" 
                            [ngClass]="{'button': dark, 'light': !dark}" class="button" (click) = "timerFunction()">
                                {{Tdisplay}} 
                                <mat-icon>alarm</mat-icon> 
                                {{display }} 
                            </button>

                             <button mat-raised-button matTooltip="Bug Report" (click) = "openDialog()" 
                             [ngClass]="{'button': dark, 'light': !dark}" class="button">
                                <mat-icon>bug_report</mat-icon> 
                            </button>
                    
              
                    
                    
                            
                    </div>

                    
                   
                    
                    
                        <!--on smaller screens-->
                    <div *ngIf="button_header"  class="button-header " fxShow="true" fxHide.gt-sm="true" >
                                        
                        <button mat-raised-button  matTooltip="Next Question" 
                        [ngClass]="{'button': dark, 'light': !dark}" class="button"> 

                            <mat-icon>arrow_forward</mat-icon> 

                        </button>
                        
                        <button mat-raised-button  matTooltip="Workspace" style="min-width: 130px;" 
                        [ngClass]="{'button': dark, 'light': !dark}" class="button" > 
                            
                            <mat-select [(value)]="selectedWLayout"   panelClass="myPanelClass" [ngClass]="{'mat-select-value-text': dark, 'mat-select-value-text1': !dark}" class="mat-select-value-text" >
                                
                            <mat-option [value]="wlayout.value" *ngFor="let wlayout of wlayouts" >
                                {{wlayout.viewValue}}
                            </mat-option>
                            </mat-select> 
                        </button>
                    
                        <button mat-raised-button matTooltip="Programming Languages" style="min-width: 130px;" 
                        [ngClass]="{'button': dark, 'light': !dark}" class="button"> 
                        
                            <mat-select name="Programming Languages" disableOptionCentering  panelClass="myPanelClass"  style="color: whitesmoke;"
                            [(value)]="selectedLanguage" > 
                                
                            <mat-option [value]="language.value" 
                            *ngFor="let language of languages" >
                                {{language.viewValue}}
                            </mat-option>
                            </mat-select>
                        </button>
                    
                        <button mat-raised-button matTooltip="Editor Font Size" style="min-width: 90px;" 
                        [ngClass]="{'button': dark, 'light': !dark}" class="button">  

                            <mat-select [(value)]="selectedFont" disableOptionCentering  panelClass="myPanelClass"> 
                                
                            <mat-option [value]="font.value"
                            *ngFor="let font of fonts"  >
                                {{font.viewValue}}
                            </mat-option>
                            </mat-select>
                        </button>
                    
                        <button mat-raised-button matTooltip="Editor Key Maps" style="min-width: 110px;" 
                        [ngClass]="{'button': dark, 'light': !dark}" class="button">
                        
                            <mat-select [(value)]="selectedEditor" disableOptionCentering  panelClass="myPanelClass" > 
                                
                            <mat-option [value]="editor.value"
                            *ngFor="let editor of editors" >
                                {{editor.viewValue}}
                            </mat-option>
                            </mat-select>
                        </button>
                        
                        <button *ngIf = "dark" mat-raised-button matTooltip="light theme"  (click)="darkFunction()"
                                [ngClass]="{'button': dark, 'light': !dark}" class="button">
                                    <mat-icon>sunny</mat-icon> 
                                </button>

                                <button *ngIf = "light" mat-raised-button matTooltip="dark theme"  (click)="lightFunction()"
                                [ngClass]="{'button': dark, 'light': !dark}" class="button">
                                    
                                <mat-icon>brightness_3</mat-icon>
                                </button>
                                
                                <button mat-raised-button matTooltip="Syntax Highlighting Theme" style="min-width: 110px;" 
                                [ngClass]="{'button': dark, 'light': !dark}" class="button" >  
                            
                                    <mat-select  [(value)]="selectedSyntaxTheme" disableOptionCentering  panelClass="myPanelClass" > 
                                        
                                    <mat-option [value]="syntaxtheme.value"
                                    *ngFor="let syntaxtheme of syntaxthemes">
                                        {{syntaxtheme.viewValue}}
                                    </mat-option>
                                    </mat-select>
                                </button>
                                
                                <button mat-raised-button matTooltip="Whiteboard Mode" 
                                [ngClass]="{'button': dark, 'light': !dark}" class="button" >
                                    <mat-icon>tv</mat-icon> 
                                </button>
                                
                                <button mat-raised-button matTooltip="Data Structure Visualizer" 
                                [ngClass]="{'button': dark, 'light': !dark}" class="button" >
                                    <mat-icon>share</mat-icon> 
                                </button>

                    </div> 

                    <!--Timer | Stopwatch-->
                    <div fxLayout="row" fxLayoutAlign="end end"  class="old" [ngClass]="{'old': timer, 'new': !timer}" *ngIf = "timer">
                        <mat-card class="timer" [ngClass]="{'timer': dark, 'light': !dark}" >
                            <div fxLayout="row" fxLayoutAlign="end end"  >
                               
                                <button  mat-dialog-close style=" border:none; background-color:transparent; align-items: flex-end;"
                                (click) = "timerFunction()">
                                  <mat-icon>close</mat-icon>
                                </button>
                            </div>

                            <div fxLayout="column" fxLayoutAlign="space-evenly center"  >

                      

                            <p>Stopwatch</p>
                        <p>{{display }}</p>

                        <div fxLayout="row" fxLayoutAlign="space-evenly center"  >

                            <button mat-raised-button *ngIf = "startSW" (click)='startStopwatch()' >Start Stopwatch</button>
                            <button mat-raised-button *ngIf = "resumeSW" (click)='startStopwatch()' >Resume Stopwatch</button>
                            <button mat-raised-button (click)='pauseStopwatch()'>Pause Stopwatch</button>
                            <button mat-raised-button (click)='stopStopwatch()'>Reset Stopwatch</button>
                        </div>
                        <br/>
                        <!-- <div fxLayout="column" fxLayoutAlign="space-around center"  > -->
                        <!-- <mat-divider></mat-divider> -->
                        <!-- </div> -->

                        <br/>

                        <p>Timer</p>
                        <p>{{Tdisplay}}  <br/> {{Tmessage}}</p>

                        
                        
                        <input  type="number" matInput placeholder="Enter the time in seconds" [(ngModel)]= "timeLeft" style="background-color: #f5f5f5; padding: 12pt 9pt ; margin-bottom: 10pt; max-width: 200px; color: #001f3f;" >

                        <br/>


                        <div fxLayout="row" fxLayoutAlign="space-evenly center"  >

                        <button mat-raised-button *ngIf = "startT" (click)='startTimer()'>Start Timer</button>
                        <button mat-raised-button *ngIf = "resumeT" (click)='startTimer()'>Resume Timer</button>
                        <button mat-raised-button (click)='pauseTimer()'>Pause Timer</button>
                        <button mat-raised-button (click)='stopTimer()'>Reset Timer</button>
                    </div>

                    </div>
                    </mat-card>
                     </div>
                                
        </div>
    
        <br/>
       
        


        <!--Cards-->
        <div fxLayoutGap style=" margin-left: 10px; margin-right: 10px; ">

            <!-- <mat-grid-list cols="2" rowHeight="1.9:1">
                <mat-grid-tile>
                    <app-prompt ></app-prompt>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-your-solutions ></app-your-solutions>
                </mat-grid-tile>
            
            </mat-grid-list>
    <br/>
            <mat-grid-list cols="2" rowHeight="3.5:1">
                <mat-grid-tile>
                    <app-tests-samples ></app-tests-samples>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-code-outputs ></app-code-outputs>
    
            </mat-grid-list> -->

            
            <div fxLayoutGap  > 
                <!-- on *ngIf="fullscreen"-->
                <div fxShow="true" fxHide.lt-md="true"   >
                        <!--Top row-->
                        <div fxLayout="row" fxLayoutAlign="start center" >
                            <!-- Prompt Space   *ngIf="ys.fullscreen_exit" -->
                        <!-- <ng-template #fullscreen> -->
                            <div  class="example-full-width"   >
                                <app-prompt style="width: 50%; background-color: brown;" ></app-prompt>
                            </div> 
                        <!-- </ng-template> -->

                            <span class="example-spacer"></span>

                            <!-- Your Solutions Space class="screen" [ngClass]="{'screen': fullscreen, 'fullscreen': fullscreen_exit}"  *ngIf="ys.fullscreen" -->
                            <div style="max-width: 100%;" class="example-full-width" >
                               
                          
        
                                  <app-your-solutions [(ngModel)]="code"></app-your-solutions>
        
                             
                            </div>

                        </div>

                            <br/> 
                            <!--Bottom row-->
                        <div  fxLayout="row" fxLayoutAlign="start center" > 
                
                            <!-- Tests Space -->
                             <div style="min-width: 50%;" class="example-full-width" #fullscreen>
                                <app-tests-samples ></app-tests-samples>
                            </div> 

                            <span class="example-spacer"></span> 
                
                            <!-- Output Space -->
                            <div style="min-width: 50%;" class="example-full-width" #fullscreen>
                                <app-code-outputs ></app-code-outputs>
                                
                            </div> 
                        </div>
                </div>

                <!--not on *ngIf="fullscreen"-->
                <div fxShow="true" fxHide.gt-sm="true"   >
                    <!--Top row-->
                    <div fxLayout="column" fxLayoutAlign="start center" >
                        <!-- Prompt Space-->
                        <div class="example-full-width">
                            <app-prompt ></app-prompt>
                        </div> 

                        <br/>
                        <!-- Your Solutions Space -->
                        <div class="example-full-width" >
                            <app-your-solutions ></app-your-solutions>
                        </div>

                        <br/>

                        <!-- <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" (init)="editorInit($event)"></ngx-monaco-editor>
                        <ngx-monaco-diff-editor [options]="editorOptions" [original]="originalCode" [modified]="code"></ngx-monaco-diff-editor> -->

<!-- 
                        <div style="height: 405px">

                            code : {{ code }} <br/>
                            options: {{ editorOptions | json}} <br/>
                            model: {{ model | json}}
                            <ngx-monaco-editor  [options]="editorOptions" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
                            
                        </div>
                        <ngx-monaco-diff-editor [options]="options" [originalModel]="originalModel" [modifiedModel]="modifiedModel"></ngx-monaco-diff-editor> -->

                        <!-- <script>
                            require.config({ paths: { 'vs': '/monaco-editor/min/vs' }})
                            require(['vs/editor/editor.main'], function onMonacoLoaded(){
                            console.log(monaco);
                            });
                        </script> -->
                    </div>

                        <br/> 
                        <!--Bottom row-->
                    <div  fxLayout="column" fxLayoutAlign="start center"> 
                        <!-- Tests Space -->
                    
                        <div class="example-full-width">
                            <app-tests-samples ></app-tests-samples>
                        </div>

                    
                        <br/>

                        <!-- Output Space -->
                        <div class="example-full-width" >
                            <app-code-outputs ></app-code-outputs>
                            
                        </div> 
                    </div>
                </div>
    

            

                <br/>
            </div>






        
        </div>
    
         <!--on fullscreens appear your solutions card-->

          <!-- <div fxLayout="row" fxLayoutAlign="start stretch"  *ngIf="fullscreen_exit">
        <div fxLayout="column" fxLayoutAlign="start stretch" class="workspace-card3">
            <mat-button-toggle-group appearance="legacy" fxLayout="row" fxLayoutAlign="start start"
            #group="matButtonToggleGroup" [value]="selectedVal2" (change)="onVal2Change(group.value)">
                <mat-button-toggle  value="Your Solutions">Your Solutions</mat-button-toggle>
                <span class="example-spacer"> </span>
                <button mat-button style="border-radius: 0pt 0pt;" 
                (click)="fullscreenFunction()" *ngIf="fullscreen" >
                    <mat-icon>fullscreen</mat-icon> </button>

                    <button mat-button style="border-radius: 0pt 0pt;" 
                    *ngIf="fullscreen_exit" (click)="fullscreen_exitFunction()" >
                    <mat-icon>fullscreen_exit</mat-icon> 
                    </button>

                <button mat-button style="border-radius: 0pt 0pt;"  > <mat-icon>replay</mat-icon> </button>
                <button mat-button style="border-radius: 0pt 0pt; background-color: #0e639c;"  >Run Code</button>
            </mat-button-toggle-group>
            <div style="background-color: #030e1a; color: #f8f8f8;" class="answer-card3" >
            
                <p> Content content content</p> 
        </div>
        </div>

    </div> -->

    </div> 


</div>

<!-- autofontsize
cdkTextareaAutosize
#autosize
cdkAutosizeMinRows="1"
cdkAutosizeMaxRows="5" -->




          <!-- <div fxFill fxLayout="column" fxLayoutAlign="space-around stretch" style="width: 50%;" >
                <mat-card>

                </mat-card>
                <mat-card >
                    
                </mat-card>
            </div>

            <div fxFill fxLayout="column" fxLayoutAlign="space-around stretch" style="width: 50%;">
                <mat-card>

                </mat-card>
                <mat-card style="background-color: #001f3f; width: 100%;">
                    <p> Content content content</p>
                </mat-card>
            </div> -->