

    <!-- Main content -->
    <!-- <main role="main" >  class="" class="col-md-9 ml-sm-auto col-lg-10 px-4  inner-adjust" -->
      <div  style="text-align: center; background-color: #001f3f;">

        <br/>

        <div style="text-align: center; color: whitesmoke; padding: 50px;  " >
          <h1 class="h2">
            <mat-icon>account_box</mat-icon> 
            <strong> User Profile</strong></h1>
          <p>Welcome D-CODER!</p>
        </div>
        <br/>
        <!-- Show user data when logged in   class="pt-3 pb-2 mb-3 border-bottom  " class="col-md-12" min-height: 550px; -->
        <div class="row" *ngIf="authService.afAuth.authState | async as user " style=" background-color: whitesmoke; color: #001f3f;  padding: 50px;">
          <div >
            <br/>
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle"
               src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}"> 

                <br/>

              <div class="media-body">
                <h1><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p><strong>User ID: </strong> {{user.uid}}</p>
                <p><strong>Email: </strong>{{user.email}}</p>
                <!-- <p>Email Verified: <strong>{{user.emailVerified}}</strong></p> -->

                <br/>
                <!-- <div *ngFor = "let user of user "> -->
                <!-- <p><strong>Your Code: </strong>{{user.submittedCode | json}}</p> -->
                <!-- </div> -->

                <!-- <button mat-raised-button style="background-color: #001f3f; color: white; margin-left: 4px;"> View Submitted Codes</button> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    <!-- </main> -->

 