   <!-- Tests Space-->
   <div fxLayout="column" fxLayoutAlign="start stretch" class="workspace-card1" >
    <mat-button-toggle-group appearance="legacy" fxLayout="row" fxLayoutAlign="start start" 
    #group="matButtonToggleGroup" [value]="selectedVal3" (change)="onVal3Change(group.value)" >
        <mat-button-toggle  value="Tests" (click)="testFunction()" >Tests</mat-button-toggle>
        <!-- <mat-button-toggle  value="Quick Test" (click)="quicktestFunction()" >Quick Test</mat-button-toggle>
        <mat-button-toggle  value="Sandbox" (click)="infoFunction()" >Sandbox</mat-button-toggle> -->
        <span class="example-spacer"> </span>
        <button mat-button style="border-radius: 0pt 0pt;" matTooltip="show" *ngIf="test" (click)="visibilityFunction()" > <mat-icon>visibility</mat-icon></button>
        <button mat-button style="border-radius: 0pt 0pt;" matTooltip="hide" *ngIf="notest" (click)="visibility_offFunction()"> <mat-icon>visibility_off</mat-icon></button>
        <!-- <button mat-button style="border-radius: 0pt 0pt;" *ngIf="quicktest"  > <mat-icon>replay</mat-icon> </button> -->
        <button mat-button style="border-radius: 0pt 0pt;" matTooltip="more info" *ngIf="info" (click) = "openDialog()"> <mat-icon>info</mat-icon> </button>
    </mat-button-toggle-group>
    <div  class="answer-card1" [ngClass]="{'answer-card1': notest, 'blurBg': test}"  >
        
        <!-- <mat-form-field  appearance="fill" class="example-full-width">  -->
            
            <!-- <mat-label>Autosize textarea</mat-label>  style="height: 340px;"-->
            <!-- <textarea matInput >
           //tests here    
                </textarea>  *ngFor = "let question of questions  question " -->

                <div *ngIf=" question noQuestions" >
                    <div  class="collection">
                        <ol >
                        <div *ngFor = "let tests of question.tests " class="collection-question" >
                            <br/> 
                           <li>
                            <mat-card class="mcard">
                               {{  tests.name}}
                                <br/> 
                                <!-- <br/>  -->
                               {{tests?.inputs | json}} <br/>
                            
                           </mat-card>
                        
                           </li>
                            
                          
                         </div>
                        </ol>
                         <br/>
                    </div>
                </div>

          <!-- </mat-form-field> -->

          <ng-template #noQuestions>
            <hr>
            <h5>There are no questions to list</h5>
        </ng-template> 
        
        
        
          <!-- {{question.Description}} -->
                    <!-- {{question.functionName}} -->
                    <!-- {{question.Tests?.Inputs}} -->

    </div>
</div>
