<h1>Stuck with the tests?</h1>

<br/>

<p>
Tests appearing in the <strong>Tests </strong>tab are the input variables that are executed by the block of code you write in the <strong>Your Solution </strong>tab when you run the code.
</p>

<br/>


<button mat-button style="border-radius: 0pt 0pt; background-color: #0e639c; color: whitesmoke;"  >Run Code</button>

<br/>

<p>
    Submitting code will always execute your code, regardless of which box you're on, against the test cases in the Tests tab.
</p>

<br/>


<button mat-button style="background-color: #18ad38; color: white; border-radius: 0pt 0pt; " >Submit Code</button>

<br/>

<div mat-dialog-actions  fxLayout="row" fxLayoutAlign="end end"  >
   <button mat-button mat-dialog-close> Close </button>
 </div>
